.advantages {
    min-height: 470px;
    background-color: #f6f6f6;
    padding: 70px 0 78px 0;
    &__blocks {
        display: flex;
        justify-content: space-between;
        padding-top: 65px;
        img {
            display: block;
            // padding-bottom: 38px;
            margin: 0 auto;
        }
    }

    &__block {
        width: 243px;
        text-align: center;

    }

    &__subheadder {
        margin-top: 38px;
        text-align: center;
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
    }

    &__descr {
        margin-top:26px;
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 300;
    }

    .icon_animated {
            animation: heartbeat 1.5s ease infinite;
           /*  animation-name: heartbeat;
            animation-duration: 1.5s;
            animation-timing-function: ease;
            animation-iteration-count: infinite; */
            &:hover {
                animation-play-state: paused;
            }
    }


}
